<app-spinner *ngIf="loading"></app-spinner>

<div class="page-cont">
    <div class="add-books">
        <a [routerLink]="['add']" class="btn">Add new books</a>
    </div>
    
    <table class="admin-books-list table">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Author</th>
            <th>Year of issue</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let book  of books">
            <td class="books-img">
                <img src="{{ books.imgUrl }}" alt="">
            </td>
            <td>{{ books.Name }}</td>
            <td>{{ books.Author }}</td>
            <td>{{ books.Year of issue }} $</td>
            <td class="edit-books">
                <a [routerLink]="['edit', books.id]">
                    <img src="../../assets/img/edit.svg" alt="">
                </a>
            </td>
            <td class="delete-books">
                <button (click)="deleteBooks(books.id)">
                    <img src="../../assets/img/delete.svg" alt="">
                </button>
            </td>
        </tr>
    </table>
</div>

